<h2><%= @cocktail.name %></h2>

<ul class="list-group mb-3">
  <h4>Doses:</h4>
  <% @cocktail.doses.each do |dose| %>
  <li class="list-group-item"><%= dose.description %> of <%= dose.ingredient.name %></li>
  <%= link_to icon('far', 'times-circle'),
                  dose_path(dose),
                  method: :delete,
                  data: { confirm: "Are you sure?" }  %>
    </li>
  <% end %>
</ul>

<%= link_to "Add a ingredient to the cocktail", new_cocktail_dose_path(@cocktail)  %>
<%= link_to "Back to cocktails", cocktails_path  %>
